<div id="principal">
<div class="center">
  <img src="images/categories/alina.png" class="profile circle">
  <h4>Alina Rodríguez</h4>
</div>

<div class="stars center">
  <fieldset class="rating">
      <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
      <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
      <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
      <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
      <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
      <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
      <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
  </fieldset>
</div> 


  <ul id="tabs-swipe-demo" class="tabs center">
    <li class="tab col s12 m4 l4"><a class="active" href="#test-swipe-1">Mis Productos</a></li>
    <li class="tab col s12 m4 l4"><a href="#test-swipe-2">Historial</a></li>
    <li class="tab col s12 m4 l4"><a href="#test-swipe-3">SubAppi</a></li>
  </ul>





<div id="test-swipe-1" class="col s12">
  <div class="container">
    <div class="row">
    {{#each products}}
          <div class="col s12 m4 l3">
            <div class="card">
              <a href="#">
                <div class="card-image">
                  
                </div>
                <div class="card-content">
                  <div class="image"><img src="{{this.photos.[0]}}" alt="Card image cap"></div>
                  <p class="center">{{this.name}}</p>
                  <p class="center">Ubicación</p>
                  <p class="center">${{this.price}}.00 x día</p>
                  <p class="center">Disponible</p>
                  <p class="center">
                  <form class="center" action="/delete/{{_id}}" method="POST">
                    <button id="icono" type ="submit"><i class="far fa-trash-alt"></i></button>
                  </form> 
                  <br>
                  <button class="center"><a href="/edit/{{id}}"></a><i class="far fa-edit"></i></button>
                  <br>
                  <button class="center"><a href="/detail/{{id}}"></a>Más detalles</button>
                </div>
              </a>
            </div>
          </div>
    {{/each}}


        <a href="/nuevo" class="size">
            <div class="centered">
              <div class="plus" id="plus">
                <div class="plus__line plus__line--v"></div>
                <div class="plus__line plus__line--h"></div>
              </div>
            </div>
        </a>


    </div>
  </div>
</div>


<div id="test-swipe-2" class="col s12">
    
    <div class="container">
      <table>
        <thead>
          <tr>
              <th>Productos</th>
              <th># Rentas</th>
              <th>Precio</th>
              <th>Total</th>
          </tr>
        </thead>

        <tbody>

          {{#each products}}
          <tr>
          <td>{{this.name}}</td>
          <td>{{rents}}0</td>
          <td>{{this.price}}</td>
          <td>0</td>            
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div id="test-swipe-3" class="col s12">
    <div class="container">
      <h3 class="center">¿Ya no quieres tus productos?</h3>
      <p class="center">Subastalos en Subappi</p>
    </div>
  </div>




<style>
  #principal{
    margin-top: 2%;
  }
  .profile{
    width: 250px;
    height: 250px;
  }

@media (max-width: 990px) {
  .resizeimg {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .resizeimg {
    width: auto;
    height: 350;
  }
}

.card img{
  height: 150px;
}

</style>